/* Reset  */
* {
  margin: 0;
  padding: 0; }

.body {
  background-color: silver;
  font-family: 'Heebo', sans-serif; }

/* GRID */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "header header header header" "main main main main" "main main main main" "footer footer footer footer"; }

#nosotros .main .partners .tituloPartners, #torneos .main .tituloTorneos, #staff .main .parteIntegrantes .tituloIntegrantes, #contacto .main .parteForm .tituloForm, #contacto .main .ubicacion .tituloUbicacion {
  background-image: linear-gradient(90deg, black 0%, #282828 50%, black 100%);
  padding: 1rem;
  color: white;
  text-align: center; }

#staff .main .parteIntegrantes .integrantes .filaCeo img:hover, #staff .main .parteIntegrantes .integrantes .filaStaff img:hover {
  transform: scale(1.1);
  transition: .6s; }

.header {
  grid-area: header;
  background-image: linear-gradient(90deg, #061024 0%, #182c50 25%, #182c50 50%, #182c50 75%, #061024 100%); }
  .header .navbar .container-fluid .navbar-brand img {
    width: 150px;
    padding: .5rem;
    border-radius: 10px; }
    .header .navbar .container-fluid .navbar-brand img:hover {
      box-shadow: 7px 0px 12px 7px rgba(0, 0, 0, 0.301);
      transition: .4s; }
  .header .navbar .container-fluid .navbar-toggler {
    background-color: #0b94d4; }
  .header .navbar .container-fluid .navbar-collapse {
    justify-content: flex-end; }
    .header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
      padding: 20px; }
      .header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
        color: white;
        font-size: 20px; }
        .header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
          transition: .5s;
          transform: scale(1.5);
          color: #0b94d4; }

.footer {
  grid-area: footer;
  background-image: linear-gradient(90deg, black 0%, #282828 50%, black 100%); }
  .footer .textoFooter {
    display: flex;
    padding: 2rem;
    color: white;
    font-family: 'Heebo', sans-serif;
    justify-content: space-between; }
    .footer .textoFooter .listaFooter ul {
      width: 400px;
      display: flex;
      justify-content: space-around;
      list-style: none; }
      .footer .textoFooter .listaFooter ul li a {
        text-decoration: none;
        color: white; }
        .footer .textoFooter .listaFooter ul li a i:hover {
          transform: scale(2);
          color: #0b94d4;
          transition: .3s; }
    .footer .textoFooter .textoCopy {
      text-align: center; }

#index .main {
  grid-area: main; }
  #index .main .primeraParte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #index .main .primeraParte .textoPrimera {
      max-width: 70%;
      padding: 2rem;
      text-align: center;
      font-size: 18px; }
      #index .main .primeraParte .textoPrimera .tituloPrimera {
        padding-bottom: 1rem; }
      #index .main .primeraParte .textoPrimera p .textoResaltado {
        font-weight: bold; }
    #index .main .primeraParte .carousel {
      width: 80%; }
  #index .main .listaTorneos {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 3rem;
    font-size: 18px; }
    #index .main .listaTorneos .tituloLista {
      padding-bottom: 1rem;
      text-align: center; }
    #index .main .listaTorneos ul {
      list-style: none;
      display: flex;
      max-width: 70%;
      flex-wrap: wrap;
      justify-content: center; }
      #index .main .listaTorneos ul li {
        padding: .5rem; }

#nosotros .main {
  grid-area: main; }
  #nosotros .main .textoNosotros {
    text-align: center;
    font-size: 18px; }
    #nosotros .main .textoNosotros .tituloNosotros {
      background-image: linear-gradient(90deg, black 0%, #282828 50%, black 100%);
      padding: 1rem;
      color: white; }
    #nosotros .main .textoNosotros .subtituloNosotros {
      background-image: linear-gradient(90deg, #061024 0%, #182c50 25%, #182c50 50%, #182c50 75%, #061024 100%);
      padding: 16px;
      color: white; }
    #nosotros .main .textoNosotros p {
      padding: 2rem 30%; }
      #nosotros .main .textoNosotros p .textoResaltado {
        font-weight: bold; }
  #nosotros .main .partners .listaPartners {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    #nosotros .main .partners .listaPartners li:hover {
      background-color: #182c50; }
    #nosotros .main .partners .listaPartners li a img {
      width: 400px; }

#torneos .main {
  grid-area: main; }
  #torneos .main .tituloTorneos {
    width: 100%; }
  #torneos .main .torneosRealizados {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px; }
    #torneos .main .torneosRealizados .torneos {
      margin: 2rem;
      width: 55%; }
    #torneos .main .torneosRealizados .texto {
      border: solid 2px black;
      border-radius: 5px;
      padding: 1rem; }
      #torneos .main .torneosRealizados .texto:hover {
        box-shadow: 10px 5px 5px 0px #182c50;
        transition: .3s; }
      #torneos .main .torneosRealizados .texto .flexFila {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem; }
        #torneos .main .torneosRealizados .texto .flexFila img {
          width: 50px; }

#staff .main {
  grid-area: main; }
  #staff .main .parteIntegrantes {
    text-align: center;
    font-size: 18px; }
    #staff .main .parteIntegrantes .integrantes {
      display: flex;
      flex-direction: column; }
      #staff .main .parteIntegrantes .integrantes .filaStaff {
        display: flex;
        justify-content: space-around; }

#contacto .main {
  grid-area: main; }
  #contacto .main .parteForm .form {
    padding: 1.5rem 0 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #contacto .main .parteForm .form form {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 8px;
      padding: 1rem;
      background-color: rgba(0, 0, 0, 0.164); }
      #contacto .main .parteForm .form form .textoResaltado {
        padding: 10px;
        font-weight: bold; }
      #contacto .main .parteForm .form form input {
        border-radius: 7px;
        text-align: center;
        border: none; }
        #contacto .main .parteForm .form form input:focus {
          border: solid 2px #0b94d4;
          outline: 2px; }
      #contacto .main .parteForm .form form input[type=file] {
        width: auto;
        border-radius: 0; }
      #contacto .main .parteForm .form form textarea {
        border-radius: 7px; }
      #contacto .main .parteForm .form form input[type=submit] {
        margin-top: 1rem;
        width: 150px; }
  #contacto .main .ubicacion iframe {
    display: block;
    width: 100%; }

@media (max-width: 991px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer"; }
    .grid .header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
      padding: 0; }
    .grid .footer .textoFooter {
      flex-direction: column;
      padding: 1.5rem; }
      .grid .footer .textoFooter .listaFooter ul {
        width: 100%;
        justify-content: space-evenly; }
      .grid .footer .textoFooter .textoCopy {
        width: 100%;
        margin-top: 1rem; }
  #index .main .primeraParte .textoPrimera {
    font-size: 20px;
    padding: 2rem;
    max-width: 100%; }
  #index .main .listaTorneos {
    padding: 2rem 0 2rem 0; }
    #index .main .listaTorneos ul {
      max-width: 100%; }
  #torneos .main .torneosRealizados .tituloTorneos {
    padding: 1.5rem; }
  #torneos .main .torneosRealizados .torneos {
    max-width: 80%; }
  #staff .main .parteIntegrantes .integrantes .filaStaff {
    flex-wrap: wrap; }
  #nosotros .main .textoNosotros p {
    padding: 2rem; }
  #nosotros .main .partners .listaPartners {
    padding: 0; }
    #nosotros .main .partners .listaPartners li {
      width: 75%; }
      #nosotros .main .partners .listaPartners li a img {
        width: 100%; }
  #contacto .main .parteForm .form form {
    width: auto; }
    #contacto .main .parteForm .form form textarea {
      width: 75%; } }

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer"; }
    .grid .header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
      padding: 0; }
    .grid .footer .textoFooter {
      flex-direction: column;
      padding: 1.5rem; }
      .grid .footer .textoFooter .listaFooter ul {
        width: 100%; }
      .grid .footer .textoFooter .textoCopy {
        width: 100%;
        margin-top: 1rem; }
  #index .main .primeraParte .textoPrimera {
    font-size: 20px;
    padding: 2rem;
    max-width: 100%; }
  #index .main .primeraParte .carousel {
    width: 100%; }
  #index .main .listaTorneos {
    padding: 2rem 0 2rem 0; }
    #index .main .listaTorneos ul {
      max-width: 100%; }
  #torneos .main .torneosRealizados .tituloTorneos {
    padding: 1.5rem; }
  #torneos .main .torneosRealizados .torneos .texto {
    box-shadow: 10px 5px 5px 0px #182c50; }
  #nosotros .main .textoNosotros p {
    padding: 2rem; }
  #nosotros .main .partners .listaPartners {
    padding: 0; }
    #nosotros .main .partners .listaPartners li {
      width: 75%; }
      #nosotros .main .partners .listaPartners li a img {
        width: 100%; }
  #contacto .main .parteForm .form form {
    width: auto; }
    #contacto .main .parteForm .form form textarea {
      width: 75%; } }

@media (max-width: 567px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer"; }
    .grid .header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
      padding: 0; }
    .grid .footer .textoFooter {
      flex-direction: column;
      padding: 1.5rem; }
      .grid .footer .textoFooter .listaFooter ul {
        width: 100%; }
      .grid .footer .textoFooter .textoCopy {
        width: 100%;
        margin-top: 1rem; }
  #index .main .primeraParte .textoPrimera {
    font-size: 20px;
    padding: 2rem;
    max-width: 100%; }
  #index .main .listaTorneos {
    padding: 2rem 0 2rem 0; }
    #index .main .listaTorneos ul {
      max-width: 100%; }
  #torneos .main .torneosRealizados .tituloTorneos {
    padding: 1.5rem; }
  #torneos .main .torneosRealizados .torneos {
    margin: 2rem;
    width: 80%; }
    #torneos .main .torneosRealizados .torneos .texto {
      box-shadow: 10px 5px 5px 0px #182c50; }
  #nosotros .main .textoNosotros p {
    padding: 2rem; }
  #nosotros .main .partners .listaPartners {
    padding: 0; }
    #nosotros .main .partners .listaPartners li {
      width: 75%; }
      #nosotros .main .partners .listaPartners li a img {
        width: 100%; }
  #contacto .main .parteForm .form form {
    width: auto;
    margin: 0 1rem 0 1rem; }
    #contacto .main .parteForm .form form textarea {
      width: 75%; } }
