#contacto {
    .main {
        grid-area: main;

        // FORMULARIO
        .parteForm {
            .tituloForm {
                padding: 1rem;
                color: white;
                background-image: $fondoNegro;
                text-align: center;
            }

            .form {
                padding: 1.5rem 0 1.5rem 0;

                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .textoResaltado {
                        padding: 10px;
                        font-weight: $negrita;
                    }

                    input {
                        border-radius: 7px;
                        text-align: center;
                        transition: .5s;

                        &:focus {
                            width: 20vw;
                        }
                    }

                    textarea {
                        border-radius: 7px;
                    }

                    input[type=submit] {
                        margin-top: 1rem;
                        width: 150px;
                    }
                }
            }
        }

        // UBICACION 
        .ubicacion {
            .tituloUbicacion {
                background-image: $fondoNegro;
                padding: 1rem;
                color: white;
                text-align: center;
            }

            iframe {
                display: block;
                width: 100%;
            }
        }
    }
}