#contacto {
    .main {
        grid-area: main;

        // FORMULARIO
        .parteForm {
            .tituloForm {
                @extend %titulosPrincipales;
            }

            .form {
                padding: 1.5rem 0 1.5rem 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                form {
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 8px;
                    padding: 1rem;
                    background-color: rgba(0, 0, 0, 0.164);

                    .textoResaltado {
                        padding: 10px;
                        font-weight: $negrita;
                    }

                    input {
                        border-radius: 7px;
                        text-align: center;
                        border: none;

                        &:focus {
                            border: solid 2px #0b94d4;
                            outline: 2px;
                        }
                    }

                    input[type=file] {
                        width: auto;
                        border-radius: 0;
                    }

                    textarea {
                        border-radius: 7px;

                        &:focus {
                            border: solid 2px #0b94d4;
                            outline: 2px;
                        }
                    }

                    input[type=submit] {
                        margin-top: 1rem;
                        width: 150px;
                    }
                }
            }
        }

        // UBICACION 
        .ubicacion {
            .tituloUbicacion {
                @extend %titulosPrincipales;
            }

            iframe {
                display: block;
                width: 100%;
            }
        }
    }
}