.header {
    grid-area: header;
    background-image: $fondoAzul;

    .navbar {
        .container-fluid {
            .navbar-brand {
                img {
                    width: 150px;
                    padding: .5rem;
                    border-radius: 10px;
                    &:hover {
                        box-shadow: 7px 0px 12px 7px rgba(0, 0, 0, 0.301);
                        transition: .4s;
                    }
                }
            }

            .navbar-toggler {
                background-color: #0b94d4;
            }

            .navbar-collapse {
                justify-content: flex-end;

                .navbar-nav {
                    .nav-item {
                        padding: 20px;

                        .nav-link {
                            color: white;
                            font-size: 20px;

                            &:hover {
                                transition: .5s;
                                transform: scale(1.5);
                                color: #0b94d4;
                            }
                        }
                    }

                }
            }
        }
    }
}