@media (max-width: 991px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "footer";

        .header {
            .navbar {
                .container-fluid {
                    .navbar-collapse {
                        .navbar-nav {
                            .nav-item {
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }

        .footer {
            .textoFooter {
                flex-direction: column;
                padding: 1.5rem;

                .listaFooter {
                    ul {
                        width: 100%;
                        justify-content: space-evenly;
                    }
                }

                .textoCopy {
                    width: 100%;
                    margin-top: 1rem;
                }
            }
        }
    }

    #index {
        .main {
            .primeraParte {
                .textoPrimera {
                    font-size: 20px;
                    padding: 2rem;
                    max-width: 100%;
                }
            }

            .listaTorneos {
                padding: 2rem 0 2rem 0;

                ul {
                    max-width: 100%;
                }
            }
        }
    }

    #torneos {
        .main {
            .torneosRealizados {
                .tituloTorneos {
                    padding: 1.5rem;
                }

                .torneos {
                    max-width: 80%;
                }
            }
        }
    }

    #staff {
        .main {
            .parteIntegrantes {
                .integrantes {
                    .filaStaff {
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }

    #nosotros {
        .main {
            .textoNosotros {
                p {
                    padding: 2rem;
                }
            }

            .partners {
                .listaPartners {
                    padding: 0;

                    li {
                        width: 75%;

                        a {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    #contacto {
        .main {
            .parteForm {
                .form {
                    form {
                        textarea {
                            width: 75%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "footer";

        .header {
            .navbar {
                .container-fluid {
                    .navbar-collapse {
                        .navbar-nav {
                            .nav-item {
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }

        .footer {
            .textoFooter {
                flex-direction: column;
                padding: 1.5rem;

                .listaFooter {
                    ul {
                        width: 100%;
                    }
                }

                .textoCopy {
                    width: 100%;
                    margin-top: 1rem;
                }
            }
        }
    }

    #index {
        .main {
            .primeraParte {
                .textoPrimera {
                    font-size: 20px;
                    padding: 2rem;
                    max-width: 100%;
                }

                .carousel {
                    width: 100%;
                }
            }

            .listaTorneos {
                padding: 2rem 0 2rem 0;

                ul {
                    max-width: 100%;
                }
            }
        }
    }

    #torneos {
        .main {
            .torneosRealizados {
                .tituloTorneos {
                    padding: 1.5rem;
                }
            }
        }
    }

    #nosotros {
        .main {
            .textoNosotros {
                p {
                    padding: 2rem;
                }
            }

            .partners {
                .listaPartners {
                    padding: 0;

                    li {
                        width: 75%;

                        a {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    #contacto {
        .main {
            .parteForm {
                .form {
                    form {
                        textarea {
                            width: 75%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 567px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "footer";

        .header {
            .navbar {
                .container-fluid {
                    .navbar-collapse {
                        .navbar-nav {
                            .nav-item {
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }

        .footer {
            .textoFooter {
                flex-direction: column;
                padding: 1.5rem;

                .listaFooter {
                    ul {
                        width: 100%;
                    }
                }

                .textoCopy {
                    width: 100%;
                    margin-top: 1rem;
                }
            }
        }
    }

    #index {
        .main {
            .primeraParte {
                .textoPrimera {
                    font-size: 20px;
                    padding: 2rem;
                    max-width: 100%;
                }

            }

            .listaTorneos {
                padding: 2rem 0 2rem 0;

                ul {
                    max-width: 100%;
                }
            }
        }
    }

    #torneos {
        .main {
            .torneosRealizados {
                .tituloTorneos {
                    padding: 1.5rem;
                }

                .torneoIzq {
                    margin: 2rem;

                    .textoIzq {
                        max-width: 100%;
                    }
                }

                .torneoDer {
                    margin: 2rem;

                    .textoDer {
                        max-width: 100%;
                        box-shadow: 10px 5px 5px 0px #182c50;
                    }
                }

            }
        }
    }

    #nosotros {
        .main {
            .textoNosotros {
                p {
                    padding: 2rem;
                }
            }

            .partners {
                .listaPartners {
                    padding: 0;

                    li {
                        width: 75%;

                        a {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    #contacto {
        .main {
            .parteForm {
                .form {
                    form {
                        textarea {
                            width: 75%;
                        }
                    }
                }
            }
        }
    }
}