#staff {
    .main {
        grid-area: main;

        .parteIntegrantes {
            text-align: center;
            font-size: $tamañoFuente;

            .tituloIntegrantes {
                @extend %titulosPrincipales;
            }

            .integrantes {
                display: flex;
                flex-direction: column;

                .filaStaff {
                    display: flex;
                    justify-content: space-around;
                }
            }
        }
}
}