#staff {
    .main {
        grid-area: main;

        .parteIntegrantes {
            text-align: center;
            font-size: $tamañoFuente;

            .tituloIntegrantes {
                @extend %titulosPrincipales;
            }

            .integrantes {
                display: flex;
                flex-direction: column;

                .filaCeo {
                    img {
                        &:hover {
                            @extend %efectoImagen;
                        }
                    }
                }

                .filaStaff {
                    display: flex;
                    justify-content: space-around;

                    img {
                        &:hover {
                            @extend %efectoImagen;
                        }
                    }
                }
            }
        }
    }
}