#torneos {
    .main {
        grid-area: main;

        .tituloTorneos {
            @extend %titulosPrincipales;
            width: 100%;
        }

        .torneosRealizados {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: $tamañoFuente;

            .torneos {
                margin: 2rem;
                width: 55%;
            }

            .texto {
                border: solid 2px black;
                border-radius: 5px;
                padding: 1rem;



                &:hover {
                    box-shadow: 10px 5px 5px 0px #182c50;
                    transition: .3s;
                }

                .flexFila {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;

                    img {
                        width: 50px;
                    }
                }
            }
        }
    }
}
