// Fondos gradientes 

$fondoAzul: linear-gradient(90deg, rgba(6, 16, 36, 1) 0%, rgba(24, 44, 80, 1) 25%, rgba(24, 44, 80, 1) 50%, rgba(24, 44, 80, 1) 75%, rgba(6, 16, 36, 1) 100%); 

$fondoNegro: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(40, 40, 40) 50%, rgb(0, 0, 0) 100%);

// Tipografia

$tamañoFuente: 18px;