// Extend
%titulosPrincipales {
    background-image: $fondoNegro;
    padding: 1rem;
    color: white;
    text-align: center;
}

%efectoImagen {
    transform: scale(1.1);
    transition: .6s;
}

// Mixin
@mixin titulos($fondoNegro, $espacioTitulo) {
    background-image: $fondoNegro;
    padding: $espacioTitulo;
    color: white;
}